read _csv(fp, encoding='', usecols=[], names=[], sep='' )
   - usecols : 파싱결과의 컬럼만을 반환
   - names : 컬럼 이름을 제공
   - squeeze : 파싱데이터가 한 컬럼만 있으면 Series 객체 반환
   - sep : '\t', ',' , '::'

.read_excel()

- .xls
- .xlsx 모듈

In [2]:
import pandas as pd
df_bond = pd.read_csv('jamesbond.csv')
df_bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [3]:
df_bond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               26 non-null     object
 1   Year               26 non-null     int64
 2   Actor              26 non-null     object
 3   Director           26 non-null     object
 4   Box Office         26 non-null     float64
 5   Budget             26 non-null     float64
 6   Bond Actor Salary  18 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.5+ KB

In [4]:
df_bond.isna().sum()

Film                 0
Year                 0
Actor                0
Director             0
Box Office           0
Budget               0
Bond Actor Salary    8
dtype: int64

## iteration 테스트
- for 반복

In [5]:
for i in df_bond:
    print(i)

Film
Year
Actor
Director
Box Office
Budget
Bond Actor Salary

In [7]:
df_bond.columns

Index(['Film', 'Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [13]:
df_bond.columns = ['영화','년도', '배우', '감독', '순위', '예산', '개런티']
df_bond

,영화,년도,배우,감독,순위,예산,개런티
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [12]:
for i in df_bond.columns[1:]:
    print(i)

년도
배우
감독
순위
예산
개런티

In [14]:
for i in df_bond.columns[::-1]:
    print(i)

개런티
예산
순위
감독
배우
년도
영화

## 새 데이터

In [15]:
df = pd.DataFrame([['세이 두바이', 2020, '홍길동', '이순신', 300, 100.0, 10]], columns=df_bond.columns) #2차원 배열로 만들어야 한다.
df

       영화    년도   배우   감독   순위     예산  개런티
0  세이 두바이  2020  홍길동  이순신  300  100.0   10

### append()

In [17]:
df_bond.append(df).tail()

                   영화    년도            배우               감독     순위     예산   개런티
22      Casino Royale  2006  Daniel Craig  Martin Campbell  581.5  145.3   3.3
23  Quantum of Solace  2008  Daniel Craig     Marc Forster  514.2  181.4   8.1
24            Skyfall  2012  Daniel Craig       Sam Mendes  943.5  170.2  14.5
25            Spectre  2015  Daniel Craig       Sam Mendes  726.7  206.3   NaN
0              세이 두바이  2020           홍길동              이순신  300.0  100.0  10.0

In [21]:
df_bond.append(df, ignore_index=True)

,영화,년도,배우,감독,순위,예산,개런티
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
26,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0
27,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0

In [22]:
df_bond = df_bond.append(df, ignore_index=True)
df_bond.tail(3)

         영화    년도            배우          감독     순위     예산   개런티
25  Spectre  2015  Daniel Craig  Sam Mendes  726.7  206.3   NaN
26   세이 두바이  2020           홍길동         이순신  300.0  100.0  10.0
27   세이 두바이  2020           홍길동         이순신  300.0  100.0  10.0

### concat() 
병합하기

In [24]:
df = pd.DataFrame([['세이 두바이2', 2020, '홍길동1', '이순신1', 300, 100.0, 10]], columns=df_bond.columns) #2차원 배열로 만들어야 한다.
df

        영화    년도    배우    감독   순위     예산  개런티
0  세이 두바이2  2020  홍길동1  이순신1  300  100.0   10

In [25]:
pd.concat([df_bond,df], ignore_index=True).tail()

         영화    년도            배우          감독     순위     예산   개런티
24  Skyfall  2012  Daniel Craig  Sam Mendes  943.5  170.2  14.5
25  Spectre  2015  Daniel Craig  Sam Mendes  726.7  206.3   NaN
26   세이 두바이  2020           홍길동         이순신  300.0  100.0  10.0
27   세이 두바이  2020           홍길동         이순신  300.0  100.0  10.0
28  세이 두바이2  2020          홍길동1        이순신1  300.0  100.0  10.0

## 컬럼 추가

In [28]:
df_bond['Award'] = None
df_bond.head()

,영화,년도,배우,감독,순위,예산,개런티,Award
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,None
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,None
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,None
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,None
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,None

In [34]:
df_bond.insert(4,column='contry', value = 'no')
df_bond.head()

,영화,년도,배우,감독,contry,순위,예산,개런티,Award
0,Dr. No,1962,Sean Connery,Terence Young,no,448.8,7.0,0.6,None
1,From Russia with Love,1963,Sean Connery,Terence Young,no,543.8,12.6,1.6,None
2,Goldfinger,1964,Sean Connery,Guy Hamilton,no,820.4,18.6,3.2,None
3,Thunderball,1965,Sean Connery,Terence Young,no,848.1,41.9,4.7,None
4,Casino Royale,1967,David Niven,Ken Hughes,no,315.0,85.0,NaN,None

## drop() & del

In [36]:
del df_bond['contry']
df_bond.head(3)

,영화,년도,배우,감독,순위,예산,개런티,Award
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,None
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,None
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,None

In [37]:
# df_bond = df_bond.drop(['Award'],axis = 1)    #axis : 0 : 행, 1: 컬럼

,영화,년도,배우,감독,순위,예산,개런티
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
26,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0
27,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0

In [39]:
df_bond.drop(['Award'],axis = 1, inplace = True)

In [40]:
df_bond

,영화,년도,배우,감독,순위,예산,개런티
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
26,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0
27,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0

## Broadcasting....
- add, sub, bul, div....
- mean... 통계 메소드

In [41]:
df_bond['예산'] * 1000

0       7000.0
1      12600.0
2      18600.0
3      41900.0
4      85000.0
5      59900.0
6      37300.0
7      34700.0
8      30800.0
9      27700.0
10     45100.0
11     91500.0
12     60200.0
13     86000.0
14     53900.0
15     54500.0
16     68800.0
17     56700.0
18     76900.0
19    133900.0
20    158300.0
21    154200.0
22    145300.0
23    181400.0
24    170200.0
25    206300.0
26    100000.0
27    100000.0
Name: 예산, dtype: float64

In [42]:
df_bond['예산'].mul(1000)

0       7000.0
1      12600.0
2      18600.0
3      41900.0
4      85000.0
5      59900.0
6      37300.0
7      34700.0
8      30800.0
9      27700.0
10     45100.0
11     91500.0
12     60200.0
13     86000.0
14     53900.0
15     54500.0
16     68800.0
17     56700.0
18     76900.0
19    133900.0
20    158300.0
21    154200.0
22    145300.0
23    181400.0
24    170200.0
25    206300.0
26    100000.0
27    100000.0
Name: 예산, dtype: float64

In [45]:
df_bond['개런티'].mul(1000)

0       600.0
1      1600.0
2      3200.0
3      4700.0
4         NaN
5      4400.0
6       600.0
7      5800.0
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14     7800.0
15     9100.0
16     5200.0
17     7900.0
18     5100.0
19    10000.0
20    13500.0
21    17900.0
22     3300.0
23     8100.0
24    14500.0
25        NaN
26    10000.0
27    10000.0
Name: 개런티, dtype: float64

In [46]:
df_bond['예산(원화)'] = df_bond['예산'] *1000
df_bond.head(3)

,영화,년도,배우,감독,순위,예산,개런티,예산(원화)
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,7000.0
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,12600.0
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,18600.0

# 인덱싱

In [47]:
#df_bond['예산']
df_bond.예산.head(3)

0     7.0
1    12.6
2    18.6
Name: 예산, dtype: float64

In [48]:
df_bond[df_bond['예산'] <10.0]

       영화    년도            배우             감독     순위   예산  개런티  예산(원화)
0  Dr. No  1962  Sean Connery  Terence Young  448.8  7.0  0.6  7000.0

In [49]:
df_bond[df_bond['배우'].str.match('Daniel Craig')]

,영화,년도,배우,감독,순위,예산,개런티,예산(원화)
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,145300.0
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,181400.0
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,170200.0
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,206300.0

In [50]:
director = ['Lewis Gilbert', 'John Glen', 'Martin Campbell']
df_bond[df_bond.isin(director)]

     영화  년도   배우               감독  순위  예산  개런티  예산(원화)
0   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
1   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
2   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
3   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
4   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
5   NaN NaN  NaN    Lewis Gilbert NaN NaN  NaN     NaN
6   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
7   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
8   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
9   NaN NaN  NaN              NaN NaN NaN  NaN     NaN
10  NaN NaN  NaN    Lewis Gilbert NaN NaN  NaN     NaN
11  NaN NaN  NaN    Lewis Gilbert NaN NaN  NaN     NaN
12  NaN NaN  NaN        John Glen NaN NaN  NaN     NaN
13  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
14  NaN NaN  NaN        John Glen NaN NaN  NaN     NaN
15  NaN NaN  NaN        John Glen NaN NaN  NaN     NaN
16  NaN NaN  NaN        John Glen NaN NaN  NaN     NaN
17  NaN NaN  NaN        John Glen NaN NaN  NaN     NaN
18  NaN NaN  NaN  Martin Campbell NaN NaN  NaN     NaN
19  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
20  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
21  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
22  NaN NaN  NaN  Martin Campbell NaN NaN  NaN     NaN
23  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
24  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
25  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
26  NaN NaN  NaN              NaN NaN NaN  NaN     NaN
27  NaN NaN  NaN              NaN NaN NaN  NaN     NaN

In [54]:
df_bond.groupby('년도').head()

,영화,년도,배우,감독,순위,예산,개런티,예산(원화)
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,7000.0
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,12600.0
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,18600.0
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,41900.0
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,85000.0
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,59900.0
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,37300.0
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,34700.0
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,30800.0
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,27700.0
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,45100.0
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,91500.0
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,60200.0
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,86000.0
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,53900.0
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,54500.0
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,68800.0
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,56700.0
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,76900.0
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,133900.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,158300.0
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,154200.0
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,145300.0
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,181400.0
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,170200.0
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,206300.0
26,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0,100000.0
27,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0,100000.0

In [53]:
df_bond.groupby(['영화', '배우']).head()

,영화,년도,배우,감독,순위,예산,개런티,예산(원화)
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,7000.0
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,12600.0
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,18600.0
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,41900.0
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,85000.0
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,59900.0
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,37300.0
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,34700.0
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,30800.0
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,27700.0
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,45100.0
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,91500.0
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,60200.0
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,86000.0
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,53900.0
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,54500.0
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,68800.0
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,56700.0
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,76900.0
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,133900.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,158300.0
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,154200.0
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,145300.0
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,181400.0
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,170200.0
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,206300.0
26,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0,100000.0
27,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0,100000.0

In [56]:
df_bond.groupby(['영화','배우'])[['개런티','예산']].first()

                                                 개런티     예산
영화                              배우
A View to a Kill                Roger Moore      9.1   54.5
Casino Royale                   Daniel Craig     3.3  145.3
                                David Niven      NaN   85.0
Diamonds Are Forever            Sean Connery     5.8   34.7
Die Another Day                 Pierce Brosnan  17.9  154.2
Dr. No                          Sean Connery     0.6    7.0
For Your Eyes Only              Roger Moore      NaN   60.2
From Russia with Love           Sean Connery     1.6   12.6
GoldenEye                       Pierce Brosnan   5.1   76.9
Goldfinger                      Sean Connery     3.2   18.6
Licence to Kill                 Timothy Dalton   7.9   56.7
Live and Let Die                Roger Moore      NaN   30.8
Moonraker                       Roger Moore      NaN   91.5
Never Say Never Again           Sean Connery     NaN   86.0
Octopussy                       Roger Moore      7.8   53.9
On Her Majesty's Secret Service George Lazenby   0.6   37.3
Quantum of Solace               Daniel Craig     8.1  181.4
Skyfall                         Daniel Craig    14.5  170.2
Spectre                         Daniel Craig     NaN  206.3
The Living Daylights            Timothy Dalton   5.2   68.8
The Man with the Golden Gun     Roger Moore      NaN   27.7
The Spy Who Loved Me            Roger Moore      NaN   45.1
The World Is Not Enough         Pierce Brosnan  13.5  158.3
Thunderball                     Sean Connery     4.7   41.9
Tomorrow Never Dies             Pierce Brosnan  10.0  133.9
You Only Live Twice             Sean Connery     4.4   59.9
세이 두바이                          홍길동             10.0  100.0

In [57]:
df_bond.groupby(['영화','배우'])[['개런티','예산']].head()

     개런티     예산
0    0.6    7.0
1    1.6   12.6
2    3.2   18.6
3    4.7   41.9
4    NaN   85.0
5    4.4   59.9
6    0.6   37.3
7    5.8   34.7
8    NaN   30.8
9    NaN   27.7
10   NaN   45.1
11   NaN   91.5
12   NaN   60.2
13   NaN   86.0
14   7.8   53.9
15   9.1   54.5
16   5.2   68.8
17   7.9   56.7
18   5.1   76.9
19  10.0  133.9
20  13.5  158.3
21  17.9  154.2
22   3.3  145.3
23   8.1  181.4
24  14.5  170.2
25   NaN  206.3
26  10.0  100.0
27  10.0  100.0

In [59]:
df_bond.groupby(['영화'])[['개런티','예산']].last()

                                  개런티     예산
영화
A View to a Kill                  9.1   54.5
Casino Royale                     3.3  145.3
Diamonds Are Forever              5.8   34.7
Die Another Day                  17.9  154.2
Dr. No                            0.6    7.0
For Your Eyes Only                NaN   60.2
From Russia with Love             1.6   12.6
GoldenEye                         5.1   76.9
Goldfinger                        3.2   18.6
Licence to Kill                   7.9   56.7
Live and Let Die                  NaN   30.8
Moonraker                         NaN   91.5
Never Say Never Again             NaN   86.0
Octopussy                         7.8   53.9
On Her Majesty's Secret Service   0.6   37.3
Quantum of Solace                 8.1  181.4
Skyfall                          14.5  170.2
Spectre                           NaN  206.3
The Living Daylights              5.2   68.8
The Man with the Golden Gun       NaN   27.7
The Spy Who Loved Me              NaN   45.1
The World Is Not Enough          13.5  158.3
Thunderball                       4.7   41.9
Tomorrow Never Dies              10.0  133.9
You Only Live Twice               4.4   59.9
세이 두바이                           10.0  100.0

In [60]:
df_bond.groupby(['배우']).count()

                영화  년도  감독  순위  예산  개런티  예산(원화)
배우
Daniel Craig     4   4   4   4   4    3       4
David Niven      1   1   1   1   1    0       1
George Lazenby   1   1   1   1   1    1       1
Pierce Brosnan   4   4   4   4   4    4       4
Roger Moore      7   7   7   7   7    2       7
Sean Connery     7   7   7   7   7    6       7
Timothy Dalton   2   2   2   2   2    2       2
홍길동              2   2   2   2   2    2       2

In [61]:
df_bond.groupby(['배우']).sum()

                   년도      순위     예산   개런티    예산(원화)
배우
Daniel Craig     8041  2765.9  703.2  25.9  703200.0
David Niven      1967   315.0   85.0   0.0   85000.0
George Lazenby   1969   291.5   37.3   0.6   37300.0
Pierce Brosnan   7993  1886.6  523.3  46.5  523300.0
Roger Moore     13852  2960.7  363.7  16.9  363700.0
Sean Connery    13775  3997.8  260.7  20.3  260700.0
Timothy Dalton   3976   564.4  125.5  13.1  125500.0
홍길동              4040   600.0  200.0  20.0  200000.0

In [62]:
df_bond.groupby('배우')['영화'].unique()

배우
Daniel Craig      [Casino Royale, Quantum of Solace, Skyfall, Sp...
David Niven                                         [Casino Royale]
George Lazenby                    [On Her Majesty's Secret Service]
Pierce Brosnan    [GoldenEye, Tomorrow Never Dies, The World Is ...
Roger Moore       [Live and Let Die, The Man with the Golden Gun...
Sean Connery      [Dr. No, From Russia with Love, Goldfinger, Th...
Timothy Dalton              [The Living Daylights, Licence to Kill]
홍길동                                                        [세이 두바이]
Name: 영화, dtype: object

In [63]:
df_bond.groupby(['영화','배우'])['개런티'].sum()

영화                               배우
A View to a Kill                 Roger Moore        9.1
Casino Royale                    Daniel Craig       3.3
                                 David Niven        0.0
Diamonds Are Forever             Sean Connery       5.8
Die Another Day                  Pierce Brosnan    17.9
Dr. No                           Sean Connery       0.6
For Your Eyes Only               Roger Moore        0.0
From Russia with Love            Sean Connery       1.6
GoldenEye                        Pierce Brosnan     5.1
Goldfinger                       Sean Connery       3.2
Licence to Kill                  Timothy Dalton     7.9
Live and Let Die                 Roger Moore        0.0
Moonraker                        Roger Moore        0.0
Never Say Never Again            Sean Connery       0.0
Octopussy                        Roger Moore        7.8
On Her Majesty's Secret Service  George Lazenby     0.6
Quantum of Solace                Daniel Craig       8.1
Skyfall                          Daniel Craig      14.5
Spectre                          Daniel Craig       0.0
The Living Daylights             Timothy Dalton     5.2
The Man with the Golden Gun      Roger Moore        0.0
The Spy Who Loved Me             Roger Moore        0.0
The World Is Not Enough          Pierce Brosnan    13.5
Thunderball                      Sean Connery       4.7
Tomorrow Never Dies              Pierce Brosnan    10.0
You Only Live Twice              Sean Connery       4.4
세이 두바이                           홍길동               20.0
Name: 개런티, dtype: float64

In [66]:
df_bond.groupby(['영화','배우'])[['예산']].agg([max, min])

                                                   예산
                                                  max    min
영화                              배우
A View to a Kill                Roger Moore      54.5   54.5
Casino Royale                   Daniel Craig    145.3  145.3
                                David Niven      85.0   85.0
Diamonds Are Forever            Sean Connery     34.7   34.7
Die Another Day                 Pierce Brosnan  154.2  154.2
Dr. No                          Sean Connery      7.0    7.0
For Your Eyes Only              Roger Moore      60.2   60.2
From Russia with Love           Sean Connery     12.6   12.6
GoldenEye                       Pierce Brosnan   76.9   76.9
Goldfinger                      Sean Connery     18.6   18.6
Licence to Kill                 Timothy Dalton   56.7   56.7
Live and Let Die                Roger Moore      30.8   30.8
Moonraker                       Roger Moore      91.5   91.5
Never Say Never Again           Sean Connery     86.0   86.0
Octopussy                       Roger Moore      53.9   53.9
On Her Majesty's Secret Service George Lazenby   37.3   37.3
Quantum of Solace               Daniel Craig    181.4  181.4
Skyfall                         Daniel Craig    170.2  170.2
Spectre                         Daniel Craig    206.3  206.3
The Living Daylights            Timothy Dalton   68.8   68.8
The Man with the Golden Gun     Roger Moore      27.7   27.7
The Spy Who Loved Me            Roger Moore      45.1   45.1
The World Is Not Enough         Pierce Brosnan  158.3  158.3
Thunderball                     Sean Connery     41.9   41.9
Tomorrow Never Dies             Pierce Brosnan  133.9  133.9
You Only Live Twice             Sean Connery     59.9   59.9
세이 두바이                          홍길동             100.0  100.0

## 결측치

In [67]:
df_bond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화      28 non-null     object
 1   년도      28 non-null     int64
 2   배우      28 non-null     object
 3   감독      28 non-null     object
 4   순위      28 non-null     float64
 5   예산      28 non-null     float64
 6   개런티     20 non-null     float64
 7   예산(원화)  28 non-null     float64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.9+ KB

In [70]:
df_bond.isna().sum() #비어있는 것 찾기

영화        0
년도        0
배우        0
감독        0
순위        0
예산        0
개런티       8
예산(원화)    0
dtype: int64

In [71]:
df_bond.fillna(0) #개런티에 비어있는 부분을 0으로 채워라

,영화,년도,배우,감독,순위,예산,개런티,예산(원화)
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,7000.0
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,12600.0
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,18600.0
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,41900.0
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,0.0,85000.0
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,59900.0
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,37300.0
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,34700.0
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,0.0,30800.0
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,0.0,27700.0
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,0.0,45100.0
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,0.0,91500.0
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,0.0,60200.0
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,0.0,86000.0
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,53900.0
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,54500.0
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,68800.0
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,56700.0
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,76900.0
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,133900.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,158300.0
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,154200.0
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,145300.0
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,181400.0
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,170200.0
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,0.0,206300.0
26,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0,100000.0
27,세이 두바이,2020,홍길동,이순신,300.0,100.0,10.0,100000.0

In [72]:
df_bond['개런티'] = df_bond.fillna(0)

In [73]:
df_bond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화      28 non-null     object
 1   년도      28 non-null     int64
 2   배우      28 non-null     object
 3   감독      28 non-null     object
 4   순위      28 non-null     float64
 5   예산      28 non-null     float64
 6   개런티     28 non-null     object
 7   예산(원화)  28 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.9+ KB

In [75]:
import matplotlib.pyplot as plt
df_bond[['Budget','Box Office']].plot()
plt.show()

KeyError: "None of [Index(['Budget', 'Box Office'], dtype='object')] are in the [columns]"